{{!
  This file is part of Moodle - http://moodle.org/

  Moodle is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Moodle is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

  @package local_zendesk
  @copyright 2026 David Ta <david.ta@saylor.org>
  @license http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later

  @template local_zendesk/sso_redirect

  Example context (json):
  {
    "heading": "Opening Zendesk Help Center",
    "body": "You are being signed into Zendesk with your Moodle account.",
    "formaction": "https://example.zendesk.com/access/jwt",
    "jwt": "header.payload.signature",
    "hasreturnto": true,
    "returnto": "/hc/en-us/requests",
    "submitlabel": "Continue to Zendesk"
  }
}}

<div class="local-zendesk-sso-redirect text-center py-4">
    <h2 class="h4 mb-3">{{heading}}</h2>
    <p class="text-muted mb-4">{{body}}</p>

    <form id="local-zendesk-sso-redirect-form" action="{{formaction}}" method="post">
        <input type="hidden" name="jwt" value="{{jwt}}">
        {{#hasreturnto}}
        <input type="hidden" name="return_to" value="{{returnto}}">
        {{/hasreturnto}}

        <noscript>
            <button type="submit" class="btn btn-primary">{{submitlabel}}</button>
        </noscript>
    </form>
</div>

{{#js}}
document.getElementById('local-zendesk-sso-redirect-form').submit();
{{/js}}
